{
	"presets": ["@babel/preset-env"],
	"plugins": [
		[
			"babel-plugin-module-resolver",
			{
				"root": ["./"],
				"alias": {
					"#configs": "./src/configs",
					"#constants": "./src/app/constants",
					"#controllers": "./src/app/controllers",
					"#db": "./src/db",
					"#facades": "./src/app/facades",
					"#factories": "./src/app/factories",
					"#filters": "./src/app/filters",
					"#markers": "./src/app/markers",
					"#middlewares": "./src/app/middlewares",
					"#models": "./src/db/models",
					"#protocols": "./src/app/protocols",
					"#routing": "./src/routing",
					"#services": "./src/app/services",
					"#utils": "./src/app/utils"
				}
			}
		]
	]
}